@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  color: #022d42 !important;
  background-color: #eef7fb !important;
}

a > i#navLogo {
  color: #fff;
  font-size: x-large;
}

a > span {
  color: #fff;
  font-size: x-large;
  margin-left: 10px;
  font-family: "Fredoka One";
}

div.nav-container {
  margin-bottom: 50px;
}

nav {
  background-color: #023047;
}

#paket-tour {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
}

div.hd-container {
  /* width: 100%; */
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://images.wallpapersden.com/image/download/anime-girl-near-ocean_a25maGeUmZqaraWkpJRmaGhrrWxrbQ.jpg");
  background-size: cover;
  /* margin-bottom: 25px; */
  color: white;
}

div.hd-container > div.col-6 {
  text-align: center;
}

div.hd-container > div.col-6 > h1 {
  font-family: "Fredoka One", cursive;
}

div.hd-container > div.col-6 > h5 {
  font-weight: 400;
}

div.hd-container > div.col-6 > div.src-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

div.crd-container > .col {
  margin-bottom: 25px !important;
}

.card {
  margin: auto;
  transition: all 0.5s ease-in-out;
}

.card-title {
  font-weight: 700;
  width: 100%;
  line-height: 1.5em;
  height: 3em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-star {
  color: #ef820d;
}

.btn-card {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  margin: 10px 0px 10px 0px;
  padding: 10px 35px;
  text-align: center;
  font-weight: bolder;
  transition: all 0.5s ease-in-out;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
}

.btn-card:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  transform: scale(1.08);
}

.modal-title {
  font-weight: bold;
}

#modalTitle2 {
  font-weight: bold !important;
  margin-bottom: 15px;
  margin-left: -10px;
}

.crsl-container {
  max-width: 50% !important;
  height: 100%;
}

div.modal-body {
  display: flex;
}

#inf-container {
  margin-top: 15px;
}

#tourInfo {
  margin-bottom: 25px;
}

#info {
  margin-left: -10px;
}

div.pricing {
  display: flex;
  font-weight: 500 !important;
  align-items: baseline;
  margin-left: -10px;
}

div.rating {
  margin-left: -10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#modalPrice {
  margin-right: 10px;
  font-weight: bold;
}

#modalCurrency {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {

  .crsl-container {
    display: block;
    max-width: 100% !important;
    height: auto;
  }

  .card {
    margin-bottom: 25px !important;
    text-align: center;
  }

  .card-title {
    font-weight: 700;
    width: 100%;
    line-height: 1.5em;
    height: 3em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-card {
    width: 100%;
  }

  .modal-footer {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .modal-footer > button {
    width: 100%;
  }

  #modalDesription {
    margin: auto;
    padding-top: 20px;
    /* background-color: turquoise; */
  }

  #inf-container > #tourInfo {
    display: block;
    width: 1200px im !important;
    text-align: justify;
    padding: 0;
    /* background-color: tomato; */
  }
}
footer {
  background-color: #023047;
  color: white;
}
