@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  color: #022d42 !important;
  background-color: #eef7fb !important;
}

#spinContaier {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 9px solid #f3f3f3;
  border-top: 10px solid #0a74ee;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin .7s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

a > i#navLogo {
  color: #fff;
  font-size: x-large;
}

a > span {
  color: #fff;
  font-size: x-large;
  margin-left: 10px;
  font-family: "Fredoka One";
}

div.nav-container {
  margin-bottom: 50px;
}

nav {
  background-color: #023047;
}

div.hd-container {
  /* width: 100%; */
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://images.wallpapersden.com/image/download/anime-girl-near-ocean_a25maGeUmZqaraWkpJRmaGhrrWxrbQ.jpg");
  background-size: cover;
  /* margin-bottom: 25px; */
  color: white;
}

div.hd-container > div.col-6 {
  text-align: center;
}

div.hd-container > div.col-6 > h1 {
  font-family: "Fredoka One", cursive;
}

div.hd-container > div.col-6 > h5 {
  font-weight: 400;
}

div.hd-container > div.col-6 > div.src-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn-container {
  margin-top: 25px;
}

.btn-container > button {
  transform: scale(1.5);
  margin-right: 40px;
}

div.crd-container > .col {
  margin-top: 15px;
  margin-bottom: 15px !important;
}

.card {
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#srcResult {
  margin-top: 15px;
  text-align: center;
}

#srcResult > #cityResult {
  font-weight: bold;
}

.card-title {
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-star {
  color: #ef820d;
}

.btn-card {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  margin: 10px 0px 10px 0px;
  padding: 10px 35px;
  text-align: center;
  font-weight: bolder;
  transition: all 0.5s ease-in-out;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
}

.btn-card:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  transform: scale(1.08);
}

.modal-title {
  font-weight: bold;
}

#modalTitle2 {
  font-weight: bold !important;
  margin-bottom: 15px;
  margin-left: -10px;
}

div.modal-body {
  display: flex;
}

#inf-container {
  margin-top: 15px;
}

#tourInfo {
  margin-bottom: 25px;
}

#info {
  margin-left: -10px;
}

div.pricing {
  display: flex;
  font-weight: 500 !important;
  align-items: baseline;
  margin-left: -10px;
}

div.rating {
  margin-left: -10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#modalPrice {
  margin-right: 10px;
  font-weight: bold;
}

#modalCurrency {
  font-weight: bold;
}

#inf-container > #tourInfo {
  text-align: justify;
  padding-left: 0;
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {

  .btn-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .btn-container > button {
    width: 100%;
    margin-bottom: 5px;
    transform: scale(1);
  }

  .card {
    text-align: center;
  }

  /* .card-title {
    font-weight: 700;
    width: 100%;
    line-height: 1.5em;
    height: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

  .btn-card {
    width: 100%;
  }

  .modal-footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .modal-footer > button {
    width: 100%;
  }

  #modalDesription {
    margin: auto;
    padding-top: 20px;
    /* background-color: turquoise; */
  }

  #inf-container > #tourInfo {
    text-align: justify;
    padding: 0;
  }
}
footer {
  background-color: #023047;
  color: white;
}
